BOT_TOKEN=123456789:telegram-bot-token
ADMIN_GROUP_ID=-1001234567890
MINI_APP_BASE_URL=https://autohub-63-180-133-249.sslip.io
NEW_CAR_CHANNEL_ID=@your_channel
BOT_NOTIFY_SECRET=change_me_same_as_nuxt
BOT_NOTIFY_HOST_PORT=8091
